Source: ros-melodic-behaviortree-cpp
Section: misc
Priority: extra
Maintainer: Michele Colledanchise <michele.colledanchise@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roslib
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-behaviortree-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roslib
Description: This package provides a behavior trees core.
