Source: ros-iron-behaviortree-cpp-v3
Section: misc
Priority: optional
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-coroutine-dev, libncurses-dev, libzmq3-dev, ros-iron-ament-cmake, ros-iron-ament-cmake-gtest <!nocheck>, ros-iron-ament-index-cpp, ros-iron-rclcpp, ros-iron-ros-environment, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-behaviortree-cpp-v3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-coroutine1.74.0, libncurses-dev, libzmq3-dev, ros-iron-ament-index-cpp, ros-iron-rclcpp, ros-iron-ros-workspace
Description: This package provides the Behavior Trees core library.
